*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    list-style: none;
    font-family:var(--font-family);
    text-decoration:none;
    color:var(--branco);
}



body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


:root{
    /* Cores */
    --azul-escuro:#051933;
    --azul:#167bf7;
    --azul-claro:#6bd1ff;
    --azul-selected:#6bd0ff77;
    --azul-degrade:linear-gradient(to right, var(--azul-escuro), var(--azul));
    --branco:#ffffff;
    --cinza-claro:#c0c0c0;

    /* Fontes */
    --font-family:'Inter';
    --font-links:18px;
    --font-text:16px;
    --font-subtitle:20px;
    --font-title:28px;
}

::-webkit-scrollbar{
    width: 5px;
    z-index: -1;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(to bottom, var(--azul),var(--azul-claro));
    border-radius: 15px;
}
::-webkit-scrollbar-track{
    background: var(--azul-escuro);
}

.link{
    color: var(--azul);
    transition: color ease-in-out .1s;
}
.link:hover{
    color: var(--azul-claro);
    text-decoration: underline;
}
