
/* Sobre o Repositório */


.sobre__container{
    position: relative;
    margin-top:200px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    grid-area:sobre;
    
}


/* PROGRAMMER SVG */

#programmer-svg{
    width:400px;
    height:400px;
    animation:Flutuar infinite 6s linear;
}

@keyframes Flutuar{
    0%{
        transform: translateY(0px)
    }
    50%{
        transform: translateY(-12px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* Texto sobre o repositorio */
.sobre-text__container{
    display: flex;
    flex-flow: column nowrap;
    max-width: 40%;
    background:var(--azul-escuro);
    padding:5rem 4rem 5rem 4rem;
    border-radius:50px 150px 150px 50px ;
}

