/* HEADER */
header{
    background: var(--azul-escuro);
    box-shadow: 1px 1px 5px black;
    width: 100vw;
    height: 70px;
    position: fixed;
    top:0;
    z-index: 1000;
}

/* Logo */
#logo-link{
    display: flex;
    align-items: center;
    gap:.5rem;
    transition: all ease-in .2s;
}
#logo-link:hover{
    transform: translateY(3px);
}


/* Menu-top itens */

.menu-top__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .menu-top__itens {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
  }
  
  .item{
    position: relative;
    color: var(--branco);
    font-size: var(--font-link);
    transition: all ease-in .2s;
    cursor: pointer;
    white-space: nowrap;
  }
  #form{
    position: relative;
    color: var(--branco);
    font-size: var(--font-link);
    transition: all ease-in .2s;
    cursor: pointer;
    white-space: nowrap;
  }

  
  .item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    background:linear-gradient(to right,var(--azul),var(--azul-claro));
    width: 100%;
    height: 1px;
    transition: all ease-in-out .2s;
    transform: scaleX(0%);
  }
  
  .item:hover::before {
    transform: scaleX(100%);
  }
  
/* formações botão */
.form-btn{
    position: relative;
    display: flex;
    gap:.2rem;
    align-items:center;
}
.form-btn::before{
    position: absolute;
    content: "";
    left:0;
    bottom: -2px;
    width:100%;
    height: 1px;
    transition: all ease-in-out .2s;
    background: linear-gradient(to right, var(--azul),var(--azul-claro));
    transform: scaleX(0%);
}
.form-btn:hover::before{
    transform: scaleX(100%);
}
.seta-list > i {
    font-size:var(--font-link);
    transform:rotate(180deg);
    transition: all ease-in-out .2s;
}
.clicked > i{
    color:var(--azul-claro);
}

/* Formação lista */

.form-list__container{
    position: absolute;
    top:45px;
    left:-50%;
    background: var(--azul-escuro);
    width:220%;
    height:0;
    border-radius: 15px;
    transition: all ease-in-out .2s;
    overflow: hidden;
}
.form-list__itens{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;
    border:solid var(--azul) 1px;
}
.form-list__item{
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-size: var(--font-link);
    transition: all ease-in-out .3s
}
.form-list__item:hover{
    background: var(--azul-selected);
}
.form-list__item > i{
    font-size:25px;
    
}
/* Animação do formList */

@keyframes Abrir {
    from{
        height: 0%;
    }
    to{
        height:180px;
    }
}

.abrir{
    animation:Abrir .5s forwards;
}
@keyframes Fechar {
    from{
        height:180px;
    }
    to{
        height: 0;
    }
}
.fechar{
    animation:Fechar .5s forwards;
}

/* Redes sociais */


.social__container{
    display: flex;
    height: 100%;
    gap: 1rem;
}
.social__item{
    position: relative;
    font-size: 22px;
    margin: auto;
    transition: all ease-in-out .2s;
}

.social__item::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    background:linear-gradient(to right,var(--azul),var(--azul-claro));
    width: 100%;
    height: 1px;
    transition: all ease-in-out .3s;
    transform: scaleX(0);
}
.social__item:hover::before{
    transform: scaleX(100%);
}


/* Menu - lateral */


.aside{
    display: none;
}



/* Sobre o Repositório */


.sobre__container{
    position: relative;
    top: 200px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    
}


/* PROGRAMMER SVG */

#programmer-svg{
    width:400px;
    height:400px;
    animation:Flutuar infinite 6s linear;
}

@keyframes Flutuar{
    0%{
        transform: translateY(0px)
    }
    50%{
        transform: translateY(-12px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* Texto sobre o repositorio */
.sobre-text__container{
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
}

.title{
    width: auto;
    color: var(--azul-claro);
    font-size: var(--font-title);
    
}
.subtitle{
    width: auto;
    color: var(--branco);
    font-size: var(--font-subtitle);
}
.text{
    color: var(--cinza-claro);
    flex-wrap: wrap;
    font-size: var(--font-text);
}

/* Formações */
.formacoes__container{
    position: relative;
    top:500px;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
    background: var(--azul-escuro);
    padding:3rem 0rem 3rem 3rem ;
}
.formacoes__content{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5rem;
}
.form-apresentacao__container{
    display: flex;
    flex-flow: column wrap;
}

.form__container{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    
}


/* Formação Carousel */
.arrow{
    color: var(--branco);
    font-size: var(--font-title);
    font-weight: bolder;
    border: none;
    width: 60px;
    height:100%;
    cursor: pointer;
    transition: transform ease-in .2s;
}
.arrow > i{
    transition: transform ease-in-out .2s;
}
.arrow:hover > i{
    transform:translateX(-5px);
}
.next:hover > i {
    transform:translateX(5px);
}
.prev{
    background: linear-gradient(to right,var(--azul-escuro), transparent);
    position:absolute;
    left: 0;
    z-index: 120;

}
.next{
    background: linear-gradient(to left,var(--azul-escuro), transparent);
    position:absolute;
    right: 0;
    z-index: 120;
}

.carousel__inner{
    display: flex;
    height: 100%;
    transition: transform ease-in .2s;  
    gap: 1rem;
}
.projeto{
    flex:0 0 60%;
    max-width:100%;
    height:90%;
    background: var(--azul);
    border-radius: 20px;
}

